<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="myApp" ng-controller="MyController">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/saved">Saved Searches</a></li>
        </ul>
        <h3 class="text-muted">Search Bing</h3>
        <input value="Search Here"></input>
        <input type="submit" ng-click="searchBing()">
      </div>
    
      <div ng-view=""></div>

    </div>
    <div ng-repeat="result in searched[0].results">
        <div>{{result['Title']}}</div>
        <a href="{{result['Url']}}"><div>{{result['Description']}}</div></a>

    </div>




    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>
    <script src="json3/lib/json3.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="angular-resource/angular-resource.js"></script>
    <script src="angular-cookies/angular-cookies.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-touch/angular-touch.js"></script>
    <script src="angular-route/angular-route.js"></script>

    <script src="app.js"></script>
</body>
</html>